<html>
<body>
    <h1>contact us </h1>
    <!--<form action="/submit" method ="POST">-->
    <form action ="/submit"method ="GET">
        <label>Name:</label>
        <input type ="text" Name="username"><br><br>
        <label>Message:</label>
        <input type ="text" Name="message"><br><br>
        <button type ="submit">send</button>
    </form>
    <br>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/social">social</a>
    <a href="/contact">contact</a>
</body>
</html>

    
