<html>
    <head>
    <title>  hii there i am Niharika </title>
    </head>
    <body>
    <h1>hello follow me if u find my page attractive</h1>
    
    <h2>links</h2>
    <ol>
    <li><a href = "https://www.facebook.com"target="_blank">facebook</a></li>
    <li><a href = "https://www.twitter.com"target="_blank">twitter</a></li>
    <li><a href = "https://www.instagram.com"target="_blank">instagram</a></li>
    <li><a href = "https://www.youtube.com"target="_blank">youtube</a></li>
    <li><a href= "https://www.pinterest.com"target="_blank">pinterest</a></li>
    <img src ="https://www.shutterstock.com/shutterstock/photos/2198245029/display_1500/stock-photo-autumn-nature-landscape-lake-bridge-in-fall-forest-path-way-in-gold-woods-romantic-view-image-2198245029.jpg" alt="social media" width="700" height ="500">
    </ol>
    </body>
    </html>
    